
*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    background-color: rgb(13, 12, 29);
    min-height: 100%
}

.tituloATIVIDADES{
    color: rgb(236, 155, 155);
    font-family: 'Concielian Break', sans-serif;
    margin-top: 10vh;
    margin-left: 5vw;
}

.accordion{
    width: 50vw;
    margin-top: 7vh;
    margin-left: 7vw;
}

.seta > img{
    width: 100px;
}

.seta:hover{
    transform: scale(1.1);    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-left: 20px;
}

.empty {
    background-color: transparent;
}

.atividades{
    display: flex ;
    background-color: aquamarine;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -20%;
    height: 400px;
}


