
*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    background-image: url(./src/atividades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


a{
    color: rgb(236, 155, 155);
}

a:hover{
    cursor: url(../src/sword.png), auto;
}

.btnHC{
    height: 50px;
    margin-right: 30px;
    float: right;
}

.btnHC:hover{
    cursor: url(../src/sword.png), auto;
}

.tituloATIVIDADES{
    color: rgb(236, 155, 155);
    font-family: 'Concielian Break', sans-serif;
    margin-top: 10vh;
    margin-left: 5vw;
}

.accordion{
    width: 50vw;
    margin-top: 7vh;
    margin-left: 7vw;
}

.seta > img{
    width: 100px;
}

.seta:hover{
    transform: scale(1.1);    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-left: 10%;
}

.empty {
    background-color: transparent;
}


#titulo{
    font-size: larger;
}

#desc{
    font-size: medium;
    font-weight: 400;
}

.atividades{
    background-color:rgba(0, 0, 0, 0.7);
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -20%;
    color: white;
    padding: 25px;
    border-radius: 20px;
}


.atividades > img{
    max-width: 60%;
}
