*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    background-image:url(./src/mapas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#titulomapa{
    color: rgb(236, 155, 155);
    font-family: 'Concielian Break', sans-serif;
    margin-top: 10vh;
    margin-left: 5vw;
}

.cardsmaterias{
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: grid;
    column-gap: 2vw;
    row-gap: 10vh;
    grid-template-columns: auto auto auto;
}

.card{
    background-color: rgb(172, 152, 245);
}

.bottrimestre{
    color: black;
    text-decoration: none;
}

.bottrimestre:hover{
    cursor: url(../src/sword.png), auto;
}

.botppe{
    background-color: transparent;
    width: 6vw;
    border-radius: 10vw;
    margin-top: 2vh;
}

.botppe:hover{
    background-color: rgb(221, 176, 91);
    cursor: url(../src/sword.png), auto;
}