*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    background-image:url(./src/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.btnHC{
    height: 50px;
    margin-right: 30px;
    position: fixed;
    top: 40px;
    right: 20px;
}

.btnHC:hover{
    cursor: url(../src/sword.png), auto;
}

.mehome{
    float: left;
    width: 50vw;
}

#euzis{
    margin-right: 105px;
}

#containerTitulo{
    margin-left: 49vw;
    margin-top: 30vh;
}

#titulo{
    font-family: 'Concielian Break', sans-serif;
    color: rgb(129, 230, 255);
    font-size: 5vw;
}

#botSTART{
    background-color: transparent;
    height: 10vh;
    width: 18vw;
    border-radius: 20vw;
    border-color:  rgb(236, 155, 155);
    color: rgb(236, 155, 155);
    font-size: 2vw;
    margin-top: 5vh;
}

#botSTART:hover{
    background-color:  rgb(236, 155, 155);
    color:  rgb(13, 12, 29);
    cursor: url(../src/sword.png), auto;
}

#eunome{
    font-family: 'Malonet', sans-serif;
    color: rgb(172, 152, 245);
    font-size: 2vw;
}

#outrosports{
    color: rgb(221, 176, 91);
    font-family: 'Malonet', sans-serif;
    margin-left: 73vw;
    margin-top: 6vh;
}

.botport{
    display: block;
    color: rgb(221, 176, 91);
    text-decoration: none;
    width: 15vw;
}

.botport:hover{
    color: rgb(255, 219, 154);
    cursor: url(../src/sword.png), auto;
}

.btnEu{
    height: 5px;
}
